.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141414;
    color: #fff;
}

.box {
    background-color: #000;
    padding: 60px;
    border-radius: 4px;
    text-align: center;
    max-width: 450px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
}
