.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141414;
    color: #fff;
}

.box {
    background-color: #000;
    padding: 60px;
    border-radius: 4px;
    text-align: center;
    max-width: 450px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
    background-color: #333;
    color: #fff;
}

.button {
    width: 100%;
    padding: 16px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #f40612;
}

.error {
    color: #e87c03;
    margin-bottom: 20px;
}

.disclaimer {
    color: #fff;
    margin-bottom: 20px;
}