.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #141414;
  color: white;
  text-align: center;
}

.verification, .disclaimer {
  background-color: #202020;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 4px;
  border: 1px solid #333;
  background-color: #333;
  color: white;
}

.button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #f6121d;
}

.error {
  color: #e50914;
  margin-top: -10px;
  margin-bottom: 10px;
}
