.onboardingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141414;
    color: white;
}

.container {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
}

.button {
    padding: 10px 20px;
    background-color: #e50914;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.categoryButton {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}
