*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.focus-mode * {
  transition: none !important;
  animation: none !important;
}

.focus-mode .Row_image:hover {
  transform: none !important;
}